<form action="{{url_for('search')}}" method="post">
  <br />
  <input type="text" name="title" placeholder="Title: " />
  <br />
  <input type="text" name="author" placeholder="Author: " />
  <br />
  <input type="text" name="isbn" placeholder="ISBN: " />
  <br />
  <input type="text" name="year" placeholder="Year: " />

  <button>Search</button>

  <ul>
    {% for item in result %}
    <li>
      <a href="{{ url_for('search_det', isbn=item[0]) }}">
        Book: {{ item[1] }}, Writer: {{ item[2]}}
      </a>
    </li>
    {% endfor %}
  </ul>
</form>
<form action="{{url_for('log_out')}}">
  <button>LOG OUT</button>
</form>
